doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav
      a(href='/')
        h1 Inventory manager
      a(href='/products-and-models') Products #{'&'} models
      a(href='/categories-and-styles') Categories #{'&'} styles
      a(href='/instances') Pieces
      a(href='/fabrics') Fabrics
      a(href='/colors') Colors

    main
      block content
